@model IEnumerable<DesdeElBanquilloApplication.Models.Country>

@{
    ViewData["Title"] = "Paises";
}

<h1>Paises</h1>

<p>
    <a asp-action="Create" class="btn btn-success btn-lg">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCountry" class="btn btn-primary btn-sm" title="Edit this country">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCountry" class="btn btn-info btn-sm" title="View country details">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCountry" class="btn btn-danger btn-sm" title="Delete this country">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
